<?xml version="1.0"?>
<launch>
    <arg name="camera_model"         default="OAK-D-PRO"        /> <!-- 'zed' or 'zedm' -->
    <arg name="tf_prefix"            default="oakd-pro"              />
    <arg name="mode"                 default="depth"            />
    <arg name="base_frame"           default="oak-d_frame"      />
    <arg name="parent_frame"         default="Base" /> 

    <arg name="rgbResolution"           default="1080p"/>
    <arg name="rgbScaleNumerator"       default="2"/>
    <arg name="rgbScaleDinominator"     default="3"/>
    <arg name="previewWidth"            default="416"/>
    <arg name="previewHeight"           default="416"/>
    
    <arg name="lrcheck"               default="true" /> 
    <arg name="extended"              default="true"/> 
    <arg name="subpixel"              default="true" />
    <arg name="rectify"               default="true" />
    <arg name="depth_aligned"         default="true" />
    <arg name="manualExposure"        default="false"/>
    <arg name="expTime"               default="20000"/>
    <arg name="sensIso"               default="800" />

    <arg name="stereo_fps"            default="15"  />
    <arg name="confidence"            default="200" />
    <arg name="LRchecktresh"          default="5"   />
    <arg name="monoResolution"        default="400p"/>

    <arg name="enableDotProjector"    default="true"/>
    <arg name="enableFloodLight"      default="true"/>
    <arg name="dotProjectorIntensisty"        default="0.5"/>
    <arg name="floodLightIntensisty"          default="0.5"/>
    <arg name="enableRviz"            default="false"/>
    <arg name="enableMarkerPublish"   default="false"/>


    <arg name="enableSpatialDetection" default="true" />
    <arg name="syncNN"                 default="true" />
    <arg name="detectionClassesCount"  default="80"   />
    <arg name="nnName"                 default="x"         />
    <arg name="resourceBaseFolder"     default="$(find depthai_examples)/resources" />

    <include file="$(find vision)/launch/stereo_inertial_node.launch">
        <arg name="camera_model"         value= "$(arg camera_model)"    /> 
        <arg name="tf_prefix"            value= "$(arg tf_prefix)"             />
        <arg name="mode"                 value= "$(arg mode)"             />
        <arg name="base_frame"           value= "$(arg base_frame)"      />
        <arg name="parent_frame"         value= "$(arg parent_frame)" /> 
        
        <arg name="lrcheck"               value= "$(arg lrcheck)" /> 
        <arg name="extended"              value= "$(arg extended)" /> 
        <arg name="subpixel"              value= "$(arg subpixel)" />
        <arg name="rectify"               value= "$(arg rectify)" />
        <arg name="depth_aligned"         value= "$(arg depth_aligned)" />
        <arg name="manualExposure"        value= "$(arg manualExposure)" />
        <arg name="expTime"               value= "$(arg expTime)" />
        <arg name="sensIso"               value= "$(arg sensIso)" /> 

        <arg name="stereo_fps"            value= "$(arg stereo_fps)" />
        <arg name="confidence"            value= "$(arg confidence)" />
        <arg name="LRchecktresh"          value= "$(arg LRchecktresh)" />
        <arg name="monoResolution"        value= "$(arg monoResolution)" />

        <arg name="rgbResolution"         value="$(arg rgbResolution)" />
        <arg name="rgbScaleNumerator"     value="$(arg rgbScaleNumerator)" />
        <arg name="rgbScaleDinominator"   value="$(arg rgbScaleDinominator)" />
        <arg name="previewWidth"          value="$(arg previewWidth)" />
        <arg name="previewHeight"         value="$(arg previewHeight)" />

        <arg name="enableDotProjector"    value= "$(arg enableDotProjector)" />
        <arg name="enableFloodLight"      value= "$(arg enableFloodLight)" />
        <arg name="dotProjectormA"        value= "$(arg dotProjectorIntensisty)" />
        <arg name="floodLightmA"          value= "$(arg floodLightIntensisty)" />
        <arg name="enableRviz"            value= "$(arg enableRviz)" />
        <arg name="enableMarkerPublish"   value= "$(arg enableMarkerPublish)" />

        <arg name="enableSpatialDetection"   value="$(arg enableSpatialDetection)" />
        <arg name="syncNN"                   value="$(arg syncNN)" />
        <arg name="detectionClassesCount"    value="$(arg detectionClassesCount)" />
        <arg name="nnName"                   value="$(arg nnName)"/>
        <arg name="resourceBaseFolder"       value="$(arg resourceBaseFolder)"/>

    </include>
</launch>

